[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "emdi"]
	path = emdi
	url = https://github.com/soerenpannier/emdi
	shallow = true
	registered = true
